
* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif
}

:root {
    --tamanho-header:70px;
    --tamanho-footer:65px;
    --tamanho-banner:calc(100vh - var(--tamanho-header));
}

/* Header */

header{
    display: flex;
    position: fixed;
    background-color: transparent;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: var(--tamanho-header);
    align-items: center;
    overflow: hidden;
    gap: 20px;
    margin-top: 5px;
}

header h1{
    color: white;
    box-shadow: whitesmoke;
}

header .navbar{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

header .navbar ul{
    display: flex;
    gap: 30px;
    margin: 0;
    padding:0;
    list-style:none;
    margin-left: 10px;
    text-shadow: 1px 1px 1px white;
    font-family: 'Bebas Neue', sans-serif ;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-family: Bebas Neue, sans-serif;
}

/* Tela Inicial */

section.paginaInicial .telaTPAB{
    background-image: url(../assets/imgs/backgroundTPAB.jpg);
    background-size:1351px 650px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

section.paginaInicial .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 20px;
    margin-bottom: 10px;
    gap: 20px;
}

section.paginaInicial .titulo{
    display: flex;
    flex-direction:center;
    font-size: 36px;
    color: white;
    font-weight: 400;
    text-shadow: 4px 2px 2px black;
    margin-right: 400px;
}

section.paginaInicial .subtitulo{
    display: flex;
    flex-direction:column-reverse;
    font-size: 20px;
    color: white;
    font-weight: 200;
    text-shadow: 5px 5px 5px black;
}

/* Tela Biografia */

section.paginaBiografia .telaBiografia{
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    height: 600px;
    width: 1351px;
}

section.paginaBiografia .container{
    display: flex;
    justify-content:flex;
    align-items: center;
    width: 250px;
    height: 250px;
}

section.paginaBiografia .container img{
    border: 1px solid rgb(82, 78, 78);
    border-radius: 25px;
    margin-left: 30px;
}


section.paginaBiografia .resumo{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 23px;
    margin-left: 80px;
    text-indent: 20px;
    text-shadow:1px 2px 1px black;    
    text-align: justify;
}

section.paginaBiografia .resumo p{
    color: white;
    width: 800px;
}

.backgroundInfos{
    background-image: linear-gradient(145deg, #c7c5c5 10%, #363434);
}

/* Tela Álbum*/

section.paginaAlbum .telaAlbum{
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 1351px;
}

section.paginaAlbum .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 50px;
    gap: 50px;
    height: 650px;
}

section.paginaAlbum .album{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
    width: 300px;
    height: 320px;
    font-weight: 500;
    transition: 0.3s;
    background: #5553537d;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(128, 128, 128, 0.5);
}

section.paginaAlbum .album img{
    border-radius: 50%;
}

section.paginaAlbum .album a{
    list-style: none;
    text-decoration: none;
    color: white;
}

section.paginaAlbum .album button{
    padding: 6px;
    background-color: grey;
    font-size: 19px;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
    border-radius: 6px;
    text-shadow: 0px 1px 1px black;
}

section.paginaAlbum .album button:hover{
    scale: 1.07;
    transition: 0.2s;
    font-weight: 700;
}

section.paginaAlbum .setlist{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    gap: 17px;
    width: 400px;
    height: 500px;
    font-weight: 500;
    transition: 0.3s;
    background: rgba(85, 84, 84, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(128, 128, 128, 0.5);
}

section.paginaAlbum .setlist ul{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 21px;
    text-shadow: 0px 2px 2px black;
}

.album:has(.botao:hover) img {
    animation: disco-girar 4s infinite linear;
}

.disco{
    display: flex;
    align-items: center;
    justify-content: center;
}

.album .bolinha{
    height: 40px;
    width: 40px;
    position: fixed;
    background-color: #3f3a3a;
    border-radius: 50%; 
    border: 2px solid grey;   
}

@keyframes disco-girar {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Página Informações (do álbum)*/

/* Introdução do álbum*/

section.introAlbum{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 650px;
}

section.introAlbum img{
    margin-left: 20px;
    margin-top: 50px;
}
section.introAlbum .container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

section.introAlbum .textos{
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-right: 35px;
    text-indent: 20px;
    font-weight: 500;
    color: white;
    text-shadow: 0px 2px 1px black;
    text-align: justify;
}

/* Informação das músicas*/

section.infoMusicas {
    background-color: grey;
}

section.infoMusicas .textos{
    font-size: 25px;
    color: white;
    text-indent: 20px;
    margin-left: 30px;
    margin-right: 20px;
    text-shadow: 0px 2px 1px black;
    text-align: justify;
}
/*Primeira música (Alright)*/
section.infoMusicas .alright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    gap: 15px;
}

section.infoMusicas .alright img{
    height: 475px;
    width: 50%;
    justify-content: right;
    align-items:end;
    margin-right: 20px;
}

/*Segunda música (U)*/

section.infoMusicas .u{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 15px
}

section.infoMusicas .u img{
    height: 475px;
    width: 50%;
    justify-content: left;
    align-items:start;
    margin-left: 20px;
}

/*Terceira Música (I)*/

section.infoMusicas .i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 15px
}

section.infoMusicas .i img{
    height: 475px;
    width: 50%;
    justify-content: left;
    align-items:start;
    margin-left: 20px;
}